.pseudo_image_container {
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_description {
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  padding: 15px 30px;
  width: 100%;
  color: #ffffff;
}
