@import '../../assets/stylesheets/variables';

* {
  box-sizing: border-box;
}

.addWish_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
}

.addWish_content {
  max-width: 780px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $page-background-color;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  height: 100%;
  padding-top: 200px;
}

.addWish_content_header {
  width: 100%;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.home-page-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.8;
}

.form {
  width: 100%;
}

.wish_descriptions {
  border-radius: 2px;
  border: 1px solid #cacaca;
  padding: 30px 30px 0;
}

.desriptionOfWish {
  width: 100%;
}

.addFile {
  margin-top: 15px;
}

.filePreview {
  position: relative;
  max-width: 300px;
  height: 200px;
  display: flex;
  margin: 5px 0;
}

.foto {
  position: absolute;
  width: 100%;
  height: auto;
}

.wishCost {
  display: flex;
  justify-content: space-between;
}

.cost {
  width: 60%;
}

.costCurrency {
  width: 25%;
}

.costCurrency select {
  width: 100%;
}

.visibleProperties {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.visibleProperties div {
  margin-left: 15px;
}

.visibleProperties div input {
  width: auto;
  margin-left: 15px;
}

.visibleProperties input:first-child {
  margin-left: 0;
}

.submit_btns {
  margin: 25px;
  display: flex;
  justify-content: space-between;
}

.submit_btns button {
  width: 95px;
  height: 30px;
  cursor: pointer;
}

.submit_btns button:last-child {
  background: rgb(231, 76, 31);
  border: none;
}

.close-icon {
  font-size: 2.5rem;
  cursor: pointer;
}

.close-icon:hover {
  color: red;
  transition: all 0.3s;
}

.upload {
  display: none;
}

div .uploadImg {
  cursor: pointer;
  font-size: 2rem;
  margin: 5px;
  border: 1px solid red;
  transition: all 0.3s;
}

div .uploadImg:hover {
  border: 2px solid red;
}

.addFileInformation {
  display: flex;
  flex-wrap: wrap;
}

.addFileGradients {
  display: flex;
  flex-wrap: wrap;
}

.addImageUrlContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(189, 189, 189, 0.7);
  z-index: 90;
}

.addImageUrl {
  width: 70%;
  margin: 20vh auto;
  padding: 10px;
  background: rgb(255, 255, 255);
  z-index: 100;
}

.headerUrl {
  display: flex;
  justify-content: space-between;
}

div .closeUrl {
  font-size: 2.5rem;
  cursor: pointer;
}

.closeUrl:hover {
  color: red;
  transition: all 0.3s;
}

.addImageUrl form {
  width: 100%;
}
.badUrl {
  margin-left: 10%;
  color: rgb(255, 38, 38);
  display: none;
}
.addImageUrl .submit_btns {
  margin: 0;
}
