@import '@/assets/stylesheets/variables';

.wish-page {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 1em;
  min-height: calc(100vh - 128px - 1em);
}

.wish-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: $page-background-color;
  color: $black-text;
  .wish-nav {
    display: flex;
  }
}

.wish-link {
  font-size: 1.3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $black-text;
  transition: all 0.2s ease-in;
}

.wish-link:hover {
  color: $yellow-text;
  cursor: pointer;
}

.arrow {
  transform: scale(-1, 1);
}

.user-avatar_small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.7em;
}

.wish-content {
  display: flex;
  justify-content: center;
}

.img-container {
  position: relative;
  width: 50%;
  .wish-img {
    width: 100%;
  }
}

.data-container {
  margin-left: 2em;
  width: 50%;
  .data-container_top {
    justify-content: space-between;
    display: flex;
  }
  .user {
    display: flex;
    align-items: center;

    .user-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: $black-text;
    }
    .user-name {
      margin: 0 0.7em;
      transition: all 0.2s ease-in;
    }
    .user-name:hover {
      color: $yellow-text;
      cursor: pointer;
    }
  }
  .product-description {
    margin: 2em 0;
    font-size: 15px;
    line-height: 20px;
  }
  .product-info-container {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    color: $grey-text;
    .link-container {
      color: $grey-text;
      display: flex;
      align-items: center;
      .link-arrow {
        font-size: 16px;
      }
    }
  }
  .product-name {
    margin-top: 0.5em;
  }

  .product-name:first-letter {
    text-transform: uppercase;
  }
}

@media (max-width: 1000px) {
  .wish-content {
    flex-direction: column;
    align-items: center;
  }
  .img-container {
    width: 90%;
  }
  .data-container {
    margin: 1em 0 0 0;
    width: 90%;
  }
}
