.single_stat_container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.unchecked-red:hover {
  color: red;
}
.checked-red {
  color: red;
}
.checked-red:hover {
  color: red;
  opacity: 0.5;
}

.unchecked-orange:hover {
  color: orange;
}
.checked-orange {
  color: orange;
}
.checked-orange:hover {
  color: orange;
  opacity: 0.5;
}

.unchecked-green:hover {
  color: green;
}
.checked-green {
  color: green;
}
.checked-green:hover {
  color: green;
  opacity: 0.5;
}

.unchecked-blue:hover {
  color: blue;
}

.stats_count {
  pointer-events: none;
  user-select: none;
}
