@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.profile-page {
  max-width: 1280px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 228px);
}

.profile_page_info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile_page_info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_info-name {
  font-size: 34px;
  line-height: 40px;
  display: block;
  color: #828282;
  min-height: 40px;
  font-family: 'Secular One', sans-serif;

  .link {
    text-decoration: none;
  }

  .nickname {
    color: #333333;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      color: red;
    }
  }

  .symbol {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin: 0 15px;
    font-weight: 900;
  }
}

.profile_info-socials {
  span {
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      color: red;
      text-decoration: underline;
    }
  }
}

.profile_page-button {
  width: fit-content;
}

.birth_date_info-container {
  color: #828282;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 15px;
  padding: 0 7.5px;
  margin-bottom: 10px;
}

.birth_date_info-wrapper {
  width: 140px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
}

.no_wishes_info-container {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.no_wishes_info-text {
  font-size: 34px;
  line-height: 40px;
  color: #333333;
}
