.registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  color: black;
  min-height: calc(100vh - 228px);
}

.registration-title {
  margin: 10px;
}

.registration-errors {
  margin: 10px;
  width: 350px;

  & > div {
    margin: 5px 0;
  }
}

.registration-button {
  margin: 10px;

  button {
    background-color: aqua;
  }
}
