$light-grey-border: #ebebeb;

button,
button:active,
button:focus {
  outline: none;
}

.stats-item {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  .stats-icon-border {
    margin-right: 0.5em;
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey-border;
    transition: all 0.2s ease-in;
  }
  .unchecked-red:hover {
    color: red;
    cursor: pointer;
  }
  .checked-red {
    background-color: red;
    color: white;
  }

  .checked-red:hover {
    background-color: red;
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }

  .unchecked-orange:hover {
    color: orange;
    cursor: pointer;
  }
  .checked-orange {
    background-color: orange;
    color: white;
  }
  .checked-orange:hover {
    background-color: orange;
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }

  .unchecked-green:hover {
    color: green;
    cursor: pointer;
  }

  .checked-green {
    background-color: green;
    color: white;
  }
  .checked-green:hover {
    background-color: green;
    color: white;
    opacity: 0.5;
    cursor: pointer;
  }
}
