$light-grey-border: #ebebeb;

.stats-item {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  .stats-icon-border {
    margin-right: 0.5em;
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border: 1px solid $light-grey-border;
    transition: all 0.2s ease-in;
  }
  .unchecked-red:hover{
    color: red;
  }
  .checked-red{
    background-color: red;
    color: white;
  }
  .unchecked-green:hover{
    color: green;
  }
  .checked-green{
    background-color: green;
    color: white;
  }
}
