@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.menu {
  color: red;
  max-width: 1280px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in;
}

.logo {
  text-decoration: none;
  color: inherit;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  transition: all 0.2s ease-in;
}

.logo:hover,
.link:hover {
  color: #FFDD40;
}
