@import '@/assets/stylesheets/variables';

.comments-container {
  border-top: 1px solid $light-grey-border;
  margin: 2em 0;
  .comments-title {
    margin-top: 1em;
    display: flex;
    align-items: center;
  }

  .comments-title span {
    margin-left: 0.7em;
  }

  .adding-comment-container {
    margin-top: 1em;
    display: flex;
    .write-send-container {
      margin-left: 0.7em;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .comment-input {
      border: none;
      background: none;
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-property: font-size, padding-top, color;
    }
    .comment-button {
      margin-left: 1em;
    }
  }
}

.comment-item {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $black-text;
}

@media (max-width: 540px) {
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1em;
  }
  .comments-container {
    .adding-comment-container {
      .comment-button {
        margin-left: 0;
        width: fit-content;
        align-self: flex-end;
      }
    }
  }
}
