.wish_wrapper {
  width: 240px;
  padding: 0 15px;
  margin-bottom: 30px;
  color: #333;
  font-family: Arimo, Arial, 'sans-serif';
  font-size: 15px;
  line-height: 20px;
  font-style: normal;
}

.wish_container {
  margin: 0 auto;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.wish_img {
  position: relative;
  width: 100%;
  height: fit-content;
}

.wish_container_curtain {
  transition: all 0.2s ease-in;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.wish_container_curtain_display {
  background-color: hsla(0, 0%, 100%, 0.8);
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 25%, #fff);
  opacity: 1;
}

.wish_stats_container {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in;
  padding: 0 5px;
}

.wish_stats_container_display {
  opacity: 1;
}

.wish_img img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ebebeb;
}

.wish_description {
  border: 0;
  position: relative;
  padding: 10px 15px;
  display: flex;
}

.wish_description img {
  width: 30px;
  height: 30px;
  padding: 0 7.5px;
  align-self: center;
}

.wish_name {
  padding: 0 7.5px;
  align-self: center;
}
