.home-page {
  max-width: 1280px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
