.home-page {
  max-width: 1280px;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  // background-color: rgb(176, 208, 236);
  // align-items: center;
  // justify-content: center;
  // margin: 50px;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: flex-start;


  flex-flow: column wrap;
  align-content: space-between;
}
