@charset 'UTF-8';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $page-background-color;
  font-family: Arimo, Arial, 'sans-serif';
}

div:active,
div:focus {
  outline: none;
}
div::-moz-focus-inner {
  border: 0;
}
